<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Employee</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

    <h3>Курс валюты на сегодня</h3>
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Количество</th>
            <th>Название валюты</th>
            <th>Тенге</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exchangerate:${rateslist}">
            <td th:text="${exchangerate.getForeignCurAmount()}"></td>
            <!-- , (${exchangerate.getForeignCurCode()})-->
            <td th:text="${exchangerate.getForeignCurFullName()}"></td>
            <td th:text="${exchangerate.getTengeAmount()}"></td>
            <!--, ${exchangerate.getTENGE_FULL()}, (${exchangerate.getTENGE_CODE()})-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>